#header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(165, 116, 42);
}

#header a:link {
    text-decoration: none;
}

#header a:hover{
    color:white;
}
 #main {
     margin-left: 5%;
     margin-right: 5%;
 }

 .body-col{
     display: flex;
 }


 .body-div{
     margin: 3%;
 }

 h2 {
     color: darkblue;
 }
 h1 {
     text-align: center;
     color:darkgoldenrod;
 }

 img {
     border:double;
 }

 body {
     background-color: whitesmoke;
 }


 #footer {
position: relative;
bottom: 20;
width: 90%;
height: px;
background-color: rgb(197, 123, 49);
margin-left: 5%;
margin-right: 20;
 }